<!DOCTYPE html>
<html ng-app="TasksApp">
    <head>
        <title>Best TODO list evah</title>
        <meta charset="utf-8"/>
        <script src="js/libs/angular.js/angular.js"></script>
        <script src="js/todos.js"></script>
    </head>
    <body ng-controller="TasksController">
        <h1>Muoviti a farlo!</h1>
        <div>
            <label for="searchbox">Trova</label>
            <input ng-model="search" id="searchbox" placeholder="Trova..."/>
        </div>
        
        <form ng-submit="create()" class="modal-content" role="form">
            <h1 class="modal-title">Nuovo Task</h1>
            <input type="text" placeholder="Cosa?" ng-model="title"/>
            <br/>
            <textarea rows="6" cols="38" ng-model="body"></textarea>
            <br/>
            <input type="submit" value="Facciamolo!"/>
        </form>
        
        <h1>Da fare</h1>
        <article ng-repeat="task in tasks | filter:search">
            <h2>{{task.title}}</h2>
            <p>{{task.body}}</p>
        </article>
        <p ng-show="tasks.length == 0">
            Wowowo, nulla da fare!
        </p>
    </body>
</html>
